form {
    background-color: #a1a1a1;
    color: #fff;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    width: 40%;
    font-size: 20px;
}

form button {
    background-color: #348a23;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #3ca82c;
}

form input[type="checkbox"] {
    accent-color: #348a23;
}