body {
    background-color: #eaeaea;
    color: #141414;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    margin: 0;
    padding: 0;
}

.content .left {
    display: inline-block;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292929;
    color: #eaeaea;
    border-right: 1px solid #141414;
}

.content .right {
    display: inline-block;
    margin-left: 20%;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #e9e9e9;
    color: #2c2c2c;
    overflow-y: scroll;
}

.content .right::-webkit-scrollbar {
    width: 5px;
}

.content .right::-webkit-scrollbar-track {
    background: #eaeaea;
}

.content .right::-webkit-scrollbar-thumb {
    background-color: #1f66ff;
    transition: background-color 0.3s;
}

.content .right::-webkit-scrollbar-thumb:hover {
    background-color: #0f48c2;
}

.content .right::-webkit-scrollbar-thumb:active {
    background-color: #0f48c2;
}

.news {
    margin-left: 30px;
    margin-top: 30px;
}

.news a {
    color: #1f66ff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.news a:hover {
    color: #003cbc;
}

.news-title {
    font-size: 1.4vw;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-description {
    font-size: 1.2vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news-pubDate {
    font-size: 0.8vw;
    color: #5c5c5c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li a {
    background-color: #9c9c9c;
    color: #292929;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 2.5px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    cursor: default;
}

li a:hover {
    background-color: #a5a5a5;
}

.left #bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.lehti {
    background-color: #1f66ff;
    color: #efefef;
    font-size: 1.2vw;
    cursor: default;
    font-weight: bold;
}

.lehti:hover {
    background-color: #434343;
}

.asetukset {
    background-color: #5c5c5c;
    color: #eeeeee;
    font-size: 1.2vw;
    cursor: default;
    font-weight: bold;
}

.asetukset:hover {
    background-color: #434343;
}

.saa {
    background-color: #1f66ff;
    color: #fff;
    font-size: 1.2vw;
    cursor: default;
    font-weight: bold;
}

.saa:hover {
    background-color: #434343;
}

.saa .fa-sun {
    color: #faf43a;
}

table {
    border-collapse: collapse;
    width: 65%;
}

::-moz-selection {
    background: #0c4dda;
    color: #fff;
}

::selection {
    background: #0c4dda;
    color: #fff;
}

th {
    background-color: #1f66ff;
    color: #fff;
    font-weight: bold;
    padding: 6.5px;
    text-align: left;
    border: 1px solid #141414;
}

td {
    background-color: #b8b8b8;
    color: #2c2c2c;
    padding: 5px;
    border: 1px solid #141414;
}

tr:nth-child(even) {
    background-color: #d4d4d4;
}

.ok {
    background-color: #9fbeff;
}

.vk {
    background-color: #ff9f9f;
}

.n {
    background-color: #dbdbdb;
}

.vo {
    background-color: #658ee7;
}

.et {
    background-color: #dbdbdb;
}

.vv {
    background-color: #fc8d8d;
}