#forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.forecast-item {
    width: 100px;
    height: 100px;
    margin-right: 60px;
    background-color: #e1e1e1;
    padding: 30px;
    border-radius: 4px;
}

.forecast-item .forecast-date {
    font-size: 1.0vw;
    font-weight: bold;
}

.forecast-item .forecast-weather {
    font-size: 1.0vw;
}

.forecast-item .forecast-temperature {
    font-size: 1.0vw;
}